    * {
            margin: 0;
            padding: 0;
        }
        html {
            height: 100%;
        }
        body {
            height: 100%;
        }
        .container {
            height: 100%;
            background: url("/img/11.png") no-repeat;
            background-size: 100% 130%;
        }
        .login-wrapper {
            background-color: rgba(255,255,255,0.6);;
            width: 358px;
            height: 588px;
            border-radius: 15px;
            padding: 30px 50px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .login-wrapper h2 {
            text-align: center;
            margin: 20px;
        }
        .header {
            font-size: 38px;
            font-weight: bold;
            text-align: center;
            line-height: 200px;
        }
        .input-item {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            border: 0;
            padding: 10px;
            border-bottom: 1px solid rgb(128, 125, 125);
            font-size: 15px;
            outline: none;
        }
        .input-item:placeholder {
            text-transform: uppercase;
        }
        .btn {
        	border: none;
            text-align: center;
            padding: 10px;
            width: 380px;
            margin-top: 16px;
            background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
            color: #fff;
        }
        .btn1 {
        
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		padding: 10px;
    		width:360px;
    		
   		 	margin-top: 16px;
    		background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    		color: #fff;
		}
		.btn1 a {
 			 padding: 0;
 			 height: 20px;
		}
        .msg {
            text-align: center;
            line-height: 88px;
        }
        a {
        	
            text-decoration-line: none;
            color: #abc1ee;
        }
.edit-btn {
    width: 166px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    background: none;
    border: 1px solid #807D7D;
    border-radius: 20px;
}
.edit-btn:hover {
    background-color: #CCCCCC;
    border: none;
}
.edit-btn a {
    color: black;
}
.edit-btn2 {
    width: 345px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    background: none;
    border: 1px solid #807D7D;
    border-radius: 20px;
}
.edit-btn2:hover {
    border: none;
    background-color: #CCCCCC;
}