 body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding: 0;
        }

        h2 {
            text-align: center;
        }

        form {
            margin: 20px auto;
		    background-color: #F1F1F1;
		    border: none;
        }
        form label {
            float: left;
            margin-left: 20px;
            height: 36px;
            line-height: 36px;
        }
        form lable {
        	float: left;
        }

        form input[type="text"],
        form select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: none;
            outline: none;
        }

        form input[type="submit"],
        form input[type="reset"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            color: pink;
            font-weight: bold;
            cursor: pointer;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 5px 5px black;
        }
        thead tr {
            height: 74px;
            background-color: white;
        }
        th {
            padding: 10px;
            text-align: center;
        }
        tbody tr {
            height: 74px;
        }
        tbody tr:hover {
            background-color: antiquewhite;
        }
        td {
            padding: 10px;
            text-align: center;
            border: none;
        }
        td a {
            cursor: pointer;
        }
        a{
        	
        	color:gray;
        }
       
        td a:hover {
            color: pink;
        }
        
 		.ab{
 		    display: block;
		    background-color: #333;  
		    border: none;
		    border-radius: 18px;
		    line-height: 10px;
		    color: #F8C400;
		    cursor: pointer;
		    width: 100px;
		    height: 36px;
		    float: left;
		    font-size: 16px;
		    margin-left: 30px;
        }
        .pagination {
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            padding: 0;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            display: block;
            padding: 8px 16px;
            background-color: #f2f2f2;
            color: #333;
            text-decoration: none;
            border-radius: 5px;
        }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination .active {
            background-color: pink;
            color: white;
        }