<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditRoomInfo</title>
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
</head>
<body>


 <div class="container">
        <div class="login-wrapper">
					<h2>房间信息</h2>
		<form th:action="@{/toEditRoomInfo}" method="post" th:object="${Room}" enctype="multipart/form-data"> 
     		 <div class="form-wrapper">
    			
    			<input contenteditable="true" type="text" th:field="*{id}" placeholder="房号" class="input-item"/>
   				<input contenteditable="true" type="text" th:field="*{types}" placeholder="房间类型" class="input-item"/>
				<input contenteditable="true" type="text" th:field="*{info}" placeholder="房间信息" class="input-item"/>
				<input contenteditable="true" type="text" th:field="*{price}" placeholder="价格" class="input-item"/>
				<input th:field="*{state}" placeholder="状态" class="input-item"/>
				<input type="file" name="file" class="input-item"/>
				<input style="display: none;" type="text" th:field="*{comment}" class="input-item"/>
			</div>
			<div>
			<input type = "reset" value = "重置" class="edit-btn"/>
			<a th:href="@{/magRoom}" ><button class="edit-btn">取消</button></a>
			<button type = "submit" th:text="确认修改" class="edit-btn2" >确认修改</button>
			</div>
			
		</form>
	</div>
</div>
</body>
</html>