<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditRoomInfo</title>
</head>
<body>
	<form th:action="@{/toEditRoomInfo}" method="post" th:object="${Room}" enctype="multipart/form-data"> 
       <table>
    	<tr>
    		<td >房号</td>
    		<td><input contenteditable="true" type="text" th:field="*{id}"></td>
   			<td >房间类型</td>
   			<td><input contenteditable="true" type="text" th:field="*{types}"></td>
    	</tr>
    	<tr>
			<td >房间信息</td>
			<td><input contenteditable="true" type="text" th:field="*{info}"></td>
			<td >价格</td>
			<td><input contenteditable="true" type="text" th:field="*{price}"></td> 
    	</tr>
    	<tr>
			<td>状态</td>
			<td><textarea th:field="*{state}" ></textarea></td>
			<td><input type="file" name="file"/></td>
			
			<!--
			<input type="hidden" id="img_url" name="pro_imgurl" value="" />
			<td >样图</td>
   			<td><p th:text="*{money}"></p></td>
   			-->
    	</tr>
		<tr>
			<td><button type = "submit" th:text="确认修改" /></button></td>
			<td><input type = "reset" value = "重置" /></td>
		    <td>取消</td>
		</tr>
	  </table>	
	</form>
</body>
</html>