<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Menu Example</title>
    <style>
        /* 添加样式代码 */
        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu li {
            padding: 10px;
        }

        .menu li a {
            text-decoration: none;
        }

        .menu li ul {
            display: none;
            margin-left: 10px;
            list-style-type: none;
        }

        .menu li:hover > ul {
            display: block;
        }
    </style>
</head>
<body>
    <ul class="menu">
        <li>
            <a href="/index">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/usermanage">
                <i class="el-icon-user"></i>
                <span>房间状态</span>
            </a>
        </li>
        <li>
            <span>
                <i class="el-icon-s-management"></i>
                <span>酒店管理</span>
            </span>
            <ul>
                <li><a href="/fieldmanage">房间类型管理</a></li>
                <li><a href="/subjectmanage">房间价格管理</a></li>
            </ul>
        </li>
        <li>
            <a href="/noticemanage">
                <i class="el-icon-message"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
            <span>
                <i class="el-icon-s-tools"></i>
                <span>系统管理</span>
            </span>
            <ul>
                <li><a href="/rolemanage">角色管理</a></li>
                <li><a href="/spidertask">爬虫任务</a></li>
                <li><a href="/templatemanage">爬虫模板</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>
