<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title> 
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
    <script src="js/jquery-1.9.1.min.js"></script>
<script src="js/layer-v2.4/layer-v2.4/layer/layer.js"></script>
<script src="/js/demo.js"></script>


   
</head> 

<body> 

 <div class="container">
        <div class="login-wrapper">
        <form th:action="@{/toLogin}" method="post" th:object="${User}" id="logInfo"> 
            <div class="header">Login</div>
            <div class="form-wrapper">
                <input type="text" th:field="*{account}"  placeholder="请输入用户名" id="InputUsername" class="input-item"/>
                <input type="password" th:field="*{password}" placeholder="请输入密码" id="InputUserPwd" class="input-item"/>
                
                <div>
                <input onClick="checkForm()" type="submit" name="Submit" value="登录" class="btn" />
            	<input type="reset" name="Reset" value="重置" class="btn"/>
                </div>
                <div style="text-align:center;"><span th:if="${mistake}"  id="Error" style="color:red;">用户名或者密码输入错误！！
				<br/>请检查后重新输入！！</span></div>
            </div>
            	<div>
                <a th:href="@{/magLogin}" class="btn1">管理员登录</a>
                </div>
            <div class="msg">
                <a th:href="@{/add}">点击这里注册</a>
            </div>
            </form>
        </div>
    </div>
    <script>
    function checkForm() {
        var username = document.getElementById("InputUsername").value;
        var password = document.getElementById("InputUserPwd").value;
        
        if (username.trim() === "" || password.trim() === "") {
            alert("用户名和密码不能为空！");
        } else {
            // 进行表单提交或其他操作
            // ...
        }
        var mistake = /*[[${mistake}]]*/ '';
        
        if (mistake != NULL) {
            alert('用户名或密码错误！');
            
        }
        
    }
        InputUsername.onfocus = function () {
 			document.getElementById("Error").innerHTML = "";
		};
		InputUserPwd.onfocus = function () {
 			document.getElementById("Error").innerHTML = "";
		};
</script>
</body>
</html>
