<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title> 
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
    <script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/layer-v2.4/layer-v2.4/layer/layer.js"></script>
	<script src="/js/demo.js"></script>


   
</head> 

<body>

 <div class="container">
        <div class="login-wrapper">
        <form th:action="@{/toLogin}" method="post" th:object="${User}" id="logInfo"> 
            <div class="header">Login</div>
            <div class="form-wrapper">
                <input type="text" th:field="*{account}"  placeholder="请输入用户名" id="InputUsername" class="input-item"/>
                <input type="password" th:field="*{password}" placeholder="请输入密码" id="InputUserPwd" class="input-item"/>
                
                <div>
                <input type="submit" name="Submit" value="登录" class="btn" />
            	<input type="reset" name="Reset" value="重置" class="btn"/>
                </div>
                <div style="text-align:center;"><span th:text="${mistake}" th:if="${mistake}"  id="Error" style="color:red;">
				</span></div>
            </div>
            	<div >
                <a th:href="@{/magLogin}" class="btn1" >管理员登录</a>
                </div>
            <div class="msg">
                <a th:href="@{/add}">点击这里注册</a>
            </div>
            <div class="msg">
                <a th:href="@{/BackUser}"th:style="'color: red;'" >找回密码</a>
            </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
    	var username = document.getElementById("InputUsername");
    	var password = document.getElementById("InputUserPwd");      
		var logInfo=document.getElementById("logInfo");
    	logInfo.onsubmit=function () {
 			if(username.value==""){
 				alert("请输入用户名！");
 				return false;
 			}else if(password.value==""){
 				alert("请输入密码！");
 				return false;
 			}else{
				return true;
 			};
		};
        InputUsername.onfocus = function () {
 			document.getElementById("Error").innerHTML = "";
		};
		InputUserPwd.onfocus = function () {
 			document.getElementById("Error").innerHTML = "";
		};

</script>
</body>
</html>
