<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
    <title>magLogin</title> 
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
</head> 
<body> 
<div class="container">
	<div class="login-wrapper">
		<form th:action="@{/toMagLogin}" method="post" th:object="${Mag}"> 
			<div class="header">管理员登录</div>
			<div class="form-wrapper">
 				<input  type="text" th:field="*{id}" placeholder="请输入账号" class="input-item"/> 
    			<input  type="password" th:field="*{password}" placeholder="请输入密码" class="input-item"/>
				<div>
				<input  type = "submit" name="Submit" value = "登录" class="btn"/>
				<input  type = "reset"  name="Reset"  value = "重置" class="btn"/>
				</div>
				<a class="btn" th:href="@{/login}"style="display: block; width: 360px; margin: 15px auto 0;">返回</a>
                
			</div>
		</form>
	</div>
</div>
</body> 
</html>