<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagMain</title>
     <link rel="stylesheet" type="text/css" href="css/order.css">
      <link rel="stylesheet" type="text/css" href="css/managerOrder.css">
      <script type="text/javascript" src="${pageContext.request.contextPath }/js/echarts.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 	<link rel="stylesheet" type="text/css" href="css/order.css">
 	<style>
        #chartsContainer {
            display: flex;
            height: 40vh;
            margin-top: 80px;
        }

        .chartContainer {
            width: 30%;
            padding: 30px;
        }

        .chartCanvas {
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
  <div class="main-title">
		<h1 style="display: inline-block; margin-right: auto;">酒店预订系统</h1>
		<div style="display: inline-block; float: right;">
 			<div  style="display: inline-block; vertical-align: middle; margin-left: 20px;">
 				<br><a>欢迎管理员：</a><br>
 				<a th:text="${session.User.account}"></a>
 			</div>
		</div>
    </div>

<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/magMain">
                <i class="el-icon-house"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/magOrder">
                <i class="el-icon-user"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
           <a href="/magUser">
                <i class="el-icon-s-management"></i>
                <span>用户管理</span>
            </a>   
        </li>
        <li>
            <a href="/magRoom">
                <i class="el-icon-message"></i>
                <span>房间管理</span>
            </a>
        </li>
        <li>
        	<a href="/">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>登出</span>
            </span>
        	</a>
        </li>
    </ul>
</div>
 <div id="chartsContainer">
          <div class="chartContainer">
            <h6>最热门的房间</h6>
            <canvas id="roseChart" class="chartCanvas"></canvas>
        </div>
   		<div class="chartContainer">
            <h6>7日订单数量统计</h6>
            <canvas id="barChart1" class="chartCanvas"></canvas>
        </div>
        <div class="chartContainer">
            <h6>7日盈利统计</h6>
            <canvas id="lineChart" class="chartCanvas"></canvas>
        </div>
        <div class="chartContainer">
            <h6>房间类型趋势</h6>
            <canvas id="pieChart" class="chartCanvas"></canvas>
        </div>
    </div>

    <script th:inline="javascript">
    //最热门的房间等弧度玫瑰图
    var roseRoomNames = /*[[${topThree.![name]}]]*/ [];
    var roseRoomCounts = /*[[${topThree.![num]}]]*/ [];

    var roseChartCanvas = document.getElementById('roseChart');
    var roseChartCtx = roseChartCanvas.getContext('2d');

    new Chart(roseChartCtx, {
        type: 'polarArea',
        data: {
            labels: roseRoomNames,
            datasets: [{
                label: '房间数量',
                data: roseRoomCounts,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 205, 86, 0.5)',
                    'rgba(234, 221, 86, 0.5)',
                    'rgba(211, 156, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 205, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
		//7日订单数量统计柱状图
        var barOrderNames = /*[[${orderCount.![name]}]]*/ [];
        var barOrderCounts = /*[[${orderCount.![num]}]]*/ [];

        var barChartCanvas = document.getElementById('barChart1');
        var barChartCtx = barChartCanvas.getContext('2d');

        new Chart(barChartCtx, {
            type: 'bar',
            data: {
                labels: barOrderNames,
                datasets: [{
                    label: '订单数量',
                    data: barOrderCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        max: Math.max(...barOrderCounts) + 1
                    }
                }
            }
        });
       
        

    		//七日盈利折线图
    		var lineMoneyNames = /*[[${sumMoney.![name]}]]*/ [];
    		var lineMoneyCounts = /*[[${sumMoney.![num]}]]*/ [];
    		var lineChartCanvas = document.getElementById('lineChart');
    		var lineChartCtx = lineChartCanvas.getContext('2d');
    		new Chart(lineChartCtx, {
   		    type: 'line',
        	data: {
            	labels: lineMoneyNames,
            		datasets: [{
                		label: '盈利',
                		data: lineMoneyCounts,
                		backgroundColor: 'rgba(175, 145, 192, 0.5)',
                		borderColor: 'rgba(175, 145, 192, 1)',
                		borderWidth: 1,
                		fill: false
            		}]
        	},
        	options: {
            	responsive: true,
            	maintainAspectRatio: false,
            	scales: {
                	y: {
                    	beginAtZero: true,
                    	max: Math.max(...lineMoneyCounts) + 5
                	}
            	}
        	}
    	});


        //饼图
        var pieRoomData = [
            /*[# th:each="room : ${roomScale}"]*/
            {
                name: /*[[${room.name}]]*/ '',
                scale: /*[[${room.scale}]]*/ 0,
                num: /*[[${room.num}]]*/
            },
            /*[/]*/
        ];

        var pieChartCanvas = document.getElementById('pieChart');
        var pieChartCtx = pieChartCanvas.getContext('2d');
        
        new Chart(pieChartCtx, {
            type: 'pie',
            data: {
                labels: pieRoomData.map(function(room) { return room.name; }),
                datasets: [{
                    data: pieRoomData.map(function(room) { return room.scale; }),
                    backgroundColor: ['rgba(156, 34, 132, 0.8)','rgba(255, 99, 132, 0.8)','rgba(212, 29, 132, 0.8)','rgba(125, 99, 102, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                    borderColor: '#fff',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                }
            }
        });
    </script>
</body>
</html>