<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagRoom</title>
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <link rel="stylesheet" type="text/css" href="css/managerOrder.css">
     <script type="text/javascript" src="${pageContext.request.contextPath }/js/echarts.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    	<style>
        #chartsContainer {
            display: flex;
            height: 40vh;
        }

        .chartContainer {
            width: 30%;
            padding: 30px;
        }

        .chartCanvas {
            width: 30%;
            height: 30%;
        }
        
        
    </style>
</head>
<body>
 	<div class="main-title">
		<h1 style="display: inline-block; margin-right: auto;">酒店预订系统</h1>
		<div style="display: inline-block; float: right;">
 			<div  style="display: inline-block; vertical-align: middle; margin-left: 20px;">
 				<br><a>欢迎管理员：</a><br>
 				<a th:text="${session.User.account}"></a>
 			</div>
		</div>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/magMain">
                <i class="el-icon-house"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/magOrder">
                <i class="el-icon-user"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
           <a href="/magUser">
                <i class="el-icon-s-management"></i>
                <span>用户管理</span>
            </a>   
        </li>
        <li>
            <a href="/magRoom">
                <i class="el-icon-message"></i>
                <span>房间管理</span>
            </a>
        </li>
        <li>
        	<a href="/">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>登出</span>
            </span>
        	</a>
        </li>
    </ul>
</div>

<div class="chartsContainer">
	<div class="form-container">
		<form th:action="@{/selecting}" method="post" th:object="${Room}"> 
			 <h2 class="title">房间检索</h2>
			 <label for="orderId">房间号:</label>
	            <input  style="width: 200px;" type="text" id="orderId" th:field="*{id}" placeholder="请输入房间号">
	            <label for="roomType">房间类型:</label>
	            <select style="width: 200px;"id="roomType" th:field="*{types}">
	            	<option value=""></option>
	                <option value="标间">标间</option>
	               	<option value="商务房">商务房</option>
	               	<option value="亲子房">亲子房</option>
	               	<option value="双人房">双人房</option>
	               	<option value="情侣房">情侣房</option>
	           		<option value="大床房">大床房</option>
	            </select>
	            <input type="submit" name="Submit" value="查询">
	            <input type="reset" name="Reset" value="重置">
				<a style="margin-left: 30px;display: flex;align-items: center; height: 36px; padding-left: 35px;" th:href="@{addRoomInfo}"  class="ab">添加房间</a>
		</form>
	</div>
</div>


<div class="container">
	<div class="table-container">
        <table> 
			<thead>
				<tr>
					<th><div style="text-align:center;">图片</div></th>
					<th><div style="text-align:center;">房间号</div></th>
					<th><div style="text-align:center;">房间类型</div></th>
					<th><div style="text-align:center;">价格</div></th>
					<th><div style="text-align:center;">状态</div></th>
					<th><div style="text-align:center;">评分</div></th>
					<th><div style="text-align:center;">操作</div></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room:${roomList}">
					<!-- 循环-->  
					<td><img th:src="${room.img}"  style="width:50px;height:50px"></img></td>     
					<td><a th:text="${room.id}" ></a></td>    
	    			<td><a th:text="${room.types}"></a></td>
	    			<td><a th:text="${room.price}"></a></td>
	    			<td><a th:text="${room.state}"></a></td>
	   				<td><a th:text="${room.comment}"></a></td>
	   				<td>
	   				<a th:href="@{editRoomInfo(id=${room.id})}">编辑</a> 
	   				<a th:href="@{deleteRoom(id=${room.id},totalcount=${totalcount})}">删除房间</a>
	   				</td>  
				</tr> 
			</tbody>
		</table>
	</div>
		<div class="pagination-container">
			<ul>
				<li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
				<li><a>共<span th:text="${totalpage}"></span>页</a></li>
				<li><a>第<span th:text="${pageCur}"></span>页</a></li>
				<li><a th:href="@{magRoom(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}">上一页</a></li>
				<li><a th:href="@{magRoom(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}">下一页</a></li>
			</ul>
       </div>
</div>

</body>
</html>