<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagUser</title>
    <link rel="stylesheet" type="text/css" href="css/order.css">
     <link rel="stylesheet" type="text/css" href="css/managerOrder.css">
</head>
<body>
 	<div class="main-title">
		<h1 style="display: inline-block; margin-right: auto;">酒店预订系统</h1>
		<div style="display: inline-block; float: right;">
 			<div  style="display: inline-block; vertical-align: middle; margin-left: 20px;">
 				<br><a>欢迎管理员：</a><br>
 				<a th:text="${session.User.account}"></a>
 			</div>
		</div>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/magMain">
                <i class="el-icon-house"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/magOrder">
                <i class="el-icon-user"></i>
                <span>订单管理</span>
            </a>
        </li>
        <li>
           <a href="/magUser">
                <i class="el-icon-s-management"></i>
                <span>用户管理</span>
            </a>   
        </li>
        <li>
            <a href="/magRoom">
                <i class="el-icon-message"></i>
                <span>房间管理</span>
            </a>
        </li>
    </ul>
</div>




<div class="chartsContainer">
	<div class="form-container">
		<form th:action="@{/selectUser}" method="post" th:object="${User}"> 
			 <h2 class="title">用户检索</h2>
			 <label for="orderId">用户名:</label>
	            <input type="text"  th:field="*{account}" placeholder="请输入用户名">
	            <label for="roomType">用户权限</label>
	            <select  th:field="*{scale}">
	                <option value="vip">vip</option>
	               	<option value="svip">svip</option>
	               	<option value="ssvip">ssvip</option>
	            </select>
	            <input type="submit" name="Submit" value="查询">
	            <input type="reset" name="Reset" value="重置">
		</form>
	</div>
</div>

<div class="container">
	  <div class="table-container">
        <table> 
			<thead>
				<tr>
					<th><div style="text-align:center;">账号名</div></th>
					<th><div style="text-align:center;">年龄</div></th>
					<th><div style="text-align:center;">名字</div></th>
					<th><div style="text-align:center;">权限</div></th>
					<th><div style="text-align:center;">权限管理</div></th>
					<th><div style="text-align:center;">操作</div></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${userList}">
					<!-- 循环-->       
					<td><a th:text="${user.account}" ></a></td>    
	    			<td><a th:text="${user.age}"></a></td>
	    			<td><a th:text="${user.name}"></a></td>
	    			<td><a th:text="${user.scale}"></a></td>
	   				<td><a th:href="@{degradeUser(account=${user.account},totalcount=${totalcount})}" th:if="${user.scale}==ssvip">降为svip</a>
	   				<a th:href="@{degradeUser(account=${user.account},totalcount=${totalcount})}" th:if="${user.scale}!=vip">降为vip</a>
				    <a th:href="@{upgradeUser(account=${user.account},totalcount=${totalcount})}"th:if="${user.scale}==vip">升为svip</a>
				    <a th:href="@{upgradeUser(account=${user.account},totalcount=${totalcount})}"th:if="${user.scale}!=ssvip">升为ssvip</a></td>  
					<td><a th:href="@{deleteUser(account=${user.account},totalcount=${totalcount})}">删除该用户</a></td>
				</tr> 
			</tbody>
		 </table>
		</div>
		<div class="pagination-container">
			<ul>
				<li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
				<li><a>共<span th:text="${totalpage}"></span>页</a></li>
				<li><a>第<span th:text="${pageCur}"></span>页</a></li>
				<li><a th:href="@{magUser(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}">上一页</a></li>
				<li><a th:href="@{magUser(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}">下一页</a></li>
			</ul>
        </div>
</div>
</body>
</html>