<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MagUser</title>
</head>
<body>
        <table> 
			<thead >
				<th><div style="text-align:center;">账号名</div></th>
				<th><div style="text-align:center;">年龄</div></th>
				<th><div style="text-align:center;">名字</div></th>
				<th><div style="text-align:center;">操作</div></th>
			</thead>
				<tr th:each="user:${userList}">
					<!-- 循环-->       
					<td><a th:text="${user.account}" ></a></td>    
	    			<td><a th:text="${user.age}"></a></td>
	    			<td><a th:text="${user.name}"></a></td>
	   				<td><a th:href="@{deleteUser(account=${user.account},totalcount=${totalcount})}">删除该用户</a></td>  
				</tr> 
		<tr>
		<td >
			<li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
			<li><a>共<span th:text="${totalpage}"></span>页</a></li>
			<li><a>第<span th:text="${pageCur}"></span>页</a></li>
			<li><a th:href="@{magUser(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}">上一页</a></li>
			<li><a th:href="@{magUser(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}">下一页</a></li>
		</td>
		</tr>
        </table>

</body>
</html>