<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="css/order.css">
    <link rel="stylesheet" type="text/css" href="css/managerOrder.css">
     <script type="text/javascript" src="${pageContext.request.contextPath }/js/echarts.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    	<style>
        #chartsContainer {
            width: 90%;
    		float: left;
        }

        .chartContainer {
            width: 30%;
            padding: 30px;
        }

        .chartCanvas {
            width: 30%;
            height: 30%;
        }
    </style>
</head>
<body>
    <div class="main-title">
        <h1>酒店预订系统</h1>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/show">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/main">
                <i class="el-icon-user"></i>
                <span>房间信息</span>
            </a>
        </li>
        <li>
           <a href="/manageOrder">
                <i class="el-icon-s-management"></i>
                <span>查看订单</span>
            </a>   
        </li>
        <li>
            <a href="/recover">
                <i class="el-icon-message"></i>
                <span>回收站</span>
            </a>
        </li>
        <li>
        	<a href="/userInfoShow">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>个人信息</span>
            </span>
            </a>
        </li>
    </ul>
</div>

<div class="chartsContainer">
 	<div class="form-container">
        <form th:action="@{/finding}" method="post" th:object="${Room}">
            <h2 class="title">房间检索</h2>
            <label for="orderId">房间号:</label>
            <input type="text" id="orderId" th:field="*{id}" placeholder="请输入房间号">
            <label for="roomType">房间类型:</label>
            <select id="roomType" th:field="*{types}">
               	<option value="标间">标间</option>
               	<option value="商务房">商务房</option>
               	<option value="亲子房">亲子房</option>
               	<option value="双人房">双人房</option>
               	<option value="情侣房">情侣房</option>
           		<option value="大床房">大床房</option>
            </select>
            <input type="submit" name="Submit" value="查询">
            <input type="reset" name="Reset" value="重置">
        </form>
    </div>
</div>


<div class="container">
    <div class="table-container">
        <table>
            <thead>
            	<tr>
                	<th><div style="text-align:center;">图片</div>
                	<th><div style="text-align:center;">房间号</div></th>
                	<th><div style="text-align:center;">房间类型</div></th>
                	<th><div style="text-align:center;">价格</div></th>
                	<th><div style="text-align:center;">状态</div></th>
                	<th><div style="text-align:center;">评分</div></th>
            		<th><div style="text-align:center;">操作</div></th>
            	</tr>
            </thead>
            <tbody>
            <tr th:each="room:${roomList}">
            	<td><img th:src="${room.img}" style="width:50px;height:50px"></img></td>
                <td><a th:text="${room.id}"></a></td>
                <td><a th:text="${room.types}"></a></td>
                <td><a th:text="${room.price}"></a></td>
                <td><a th:text="${room.state}"></a></td>
                <td><a th:text="${room.comment}"></a></td>
				<td><a th:href="@{reservation(id=${room.id})}" th:if="${room.state}==可租">预订</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        <ul>
            <li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
            <li><a>共<span th:text="${totalpage}"></span>页</a></li>
            <li><a>第<span th:text="${pageCur}"></span>页</a></li>
            <li><a th:href="@{main(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}" class="pointer">上一页</a></li>
            <li><a th:href="@{main(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}" class="pointer">下一页</a></li>
        </ul>
    </div>
</div>
</body>
</html>

