<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>recoverOrder</title>
    <link rel="stylesheet" type="text/css" href="css/order.css">
</head>
<body>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/show">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/main">
                <i class="el-icon-user"></i>
                <span>房间信息</span>
            </a>
        </li>
        <li>
           <a href="/manageOrder">
                <i class="el-icon-s-management"></i>
                <span>查看订单</span>
            </a>   
        </li>
        <li>
            <a href="/recover">
                <i class="el-icon-message"></i>
                <span>回收站</span>
            </a>
        </li>
        <li>
        	<a href="/userMag">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>个人信息</span>
            </span>
            </a>
        </li>
    </ul>
</div>

<div class="container">
	 <div class="form-container">
		<form th:action="@{/findingDeletedOrder}" method="post" th:object="${AllOrder}"> 
			<h2 class="title">订单检索</h2>
			房间号:<input  type="text" th:field="*{id}" placeholder="请输入订单号" ><br> 
			<label for="roomType">房间类型:</label>
            	<select id="roomType" th:field="*{types}">
                	<option value="标间">标间</option>
                	<option value="双人房">双人房</option>
                	<option value="总统套房">总统套房</option>
            	</select>
            <input type="submit" name="Submit" value="查询">
            <input type="reset" name="Reset" value="重置">
        </form>
      </div>
      <div class="table-container">
        <table> 
			<thead >
			<tr>
				<th><div style="text-align:center;">订单号</div></th>
				<th><div style="text-align:center;">房间类型</div></th>
				<th><div style="text-align:center;">价格</div></th>
				<th><div style="text-align:center;">联系电话</div></th>
				<th><div style="text-align:center;">删除时间</div></th>
				<th><div style="text-align:center;">剩余时间</div></th>
				<th><div style="text-align:center;">操作</div></th>
			</tr>
			</thead>
			<tbody>
				<tr th:each="order:${orderList}">
					<!-- 循环-->       
					<td><a th:text="${order.id}" ></a></td>    
	    			<td><a th:text="${order.types}"></a></td>
	    			<td><a th:text="${order.money}"></a></td>
	   				<td><a th:text="${order.phone}"></a>
	   				<td><a th:text="${order.deletedAt}" ></a>
	   				<td>
                    	<span id="remainingDays" th:data-delete-time="${order.deletedAt}"></span>
                	</td>
                	<td>
	   				<a  th:href="@{delOrderWholly(id=${order.id},totalcount=${totalcount})}">彻底删除</a>
	   				<a  th:href="@{recoverOrder(id=${order.id},totalcount=${totalcount})}">恢复</a>
	   				</td> 
	   				
				</tr> 
				</tbody>
			</table>
		</div>
		<div class="pagination-container">
		<ul>
			<li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
			<li><a>共<span th:text="${totalpage}"></span>页</a></li>
			<li><a>第<span th:text="${pageCur}"></span>页</a></li>
			<li><a th:href="@{manageOrder(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}">上一页</a></li>
			<li><a th:href="@{manageOrder(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}">下一页</a></li>
		</ul>
		</div>
</div>

 <script th:inline="javascript">
        var deleteTimes = document.querySelectorAll('#remainingDays');

        deleteTimes.forEach(function(deleteTime) {
            var deleteDate = new Date(deleteTime.getAttribute('data-delete-time'));
            var now = new Date();

            var remainingDays = 10 - Math.ceil((now-deleteDate) / (24 * 60 * 60 * 1000));
            if (remainingDays < 0) {
                remainingDays = 0;
            }

            deleteTime.textContent = remainingDays + ' 天';
        });
</script>

</body>
</html>