<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
    <title>register</title> 
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
</head> 
    <meta charset="UTF-8">
    <title>register_account</title>
</head>
<body>
<div class="container">
	<div class="login-wrapper">
	<form th:action="@{/addUser}" th:object="${User}" method="post" >
		<div class='header'>注册</div>
		<div class="form-wrapper">
			<input type="text" th:field="*{account}" placeholder='电话/邮箱/用户名' class="input-item" />
			<input type="password" th:field="*{password}" placeholder="请输入密码" class="input-item" />
			<input type="text" th:field="*{age}" placeholder="请输入年龄" class="input-item" />
			<input type="text" th:field="*{name}" placeholder="请输入姓名" class="input-item" />
			<div>
			<input class="btn" type="submit" value="注册" name="Submit"/>
    		<a th:href="@{/login}"><input class="btn"  style="width: 340px;"value="取消" /></a>
    		</div>
    	</div>
	</form>
	</div>
</div>
</body>
</html>

