<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
    <link rel = "stylesheet" type="text/css"  th:href="@{/css/login.css}" />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="login-wrapper">
        <h2>订单</h2>
            <form th:action="@{/toReservation}" method="post" th:object="${order}">  
                    <div class="form-wrapper">
                        <input type="text" th:field="*{room.id}" placeholder='房号' class="input-item"id = "roomid"/>
                        <input type="text" th:field="*{types}" placeholder='房间类型' class="input-item" />
                        <input type="text" th:field="*{in_time}" placeholder='入住时间' class="input-item" />
                        <input type="text" th:field="*{out_time}" placeholder='截止时间' class="input-item" />
                        <input type="text" th:field="*{phone}" placeholder='联系方式' class="input-item" />
                        <input type="text" th:field="*{money}" placeholder='金额' class="input-item" />
                    </div>
                    <div>
                          <input type="reset" value="重置"  class="edit-btn"/>
                          <button class="edit-btn" onclick="cancelAndRedirect()">取消</button>
                          <button class="edit-btn2" type="submit" th:text="确认订单">确认订单</button>
                        
                    </div>
                
            </form>
        </div>
    </div>
    <script>
		function cancelAndRedirect() {
			document.getElementById("roomid").innerHTML = "";
		}
	</script>


</body>

</html>

