<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
    <title>show</title> 
    <script type="text/javascript" src="${pageContext.request.contextPath }/js/echarts.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 	<link rel="stylesheet" type="text/css" href="css/order.css">
 	<style>
        #chartsContainer {
            display: flex;
            height: 40vh;
        }

        .chartContainer {
            width: 30%;
            padding: 30px;
        }

        .chartCanvas {
            width: 30%;
            height: 30%;
        }
    </style>
</head> 
<body>
 <div class="main-title">
        <h1>酒店预订系统</h1>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/show">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/main">
                <i class="el-icon-user"></i>
                <span>房间信息</span>
            </a>
        </li>
        <li>
           <a href="/manageOrder">
                <i class="el-icon-s-management"></i>
                <span>查看订单</span>
            </a>   
        </li>
        <li>
            <a href="/recover">
                <i class="el-icon-message"></i>
                <span>回收站</span>
            </a>
        </li>
        <li>
        	<a href="/userInfoShow">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>个人信息</span>
            </span>
            </a>
        </li>
    </ul>
</div>
    <div id="chartsContainer">
        <div class="chartContainer">
            <h6>最热门的房间</h6>
            <canvas id="barChart" class="chartCanvas"></canvas>
        </div>
   		<div class="chartContainer">
            <h6>7日订单数量统计</h6>
            <canvas id="barChart1" class="chartCanvas"></canvas>
        </div>
        <div class="chartContainer">
            <h6>7日盈利统计</h6>
            <canvas id="lineChart" class="chartCanvas"></canvas>
        </div>
        <div class="chartContainer">
            <h6>房间类型趋势</h6>
            <canvas id="pieChart" class="chartCanvas"></canvas>
        </div>
    </div>

    <script th:inline="javascript">
		//最热门的房间柱状图
        var barRoomNames = /*[[${topThree.![name]}]]*/ [];
        var barRoomCounts = /*[[${topThree.![num]}]]*/ [];

        var barChartCanvas = document.getElementById('barChart');
        var barChartCtx = barChartCanvas.getContext('2d');

        new Chart(barChartCtx, {
            type: 'bar',
            data: {
                labels: barRoomNames,
                datasets: [{
                    label: '房间数量',
                    data: barRoomCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        max: Math.max(...barRoomCounts) + 5
                    }
                }
            }
        });
		//7日订单数量统计柱状图
        var barOrderNames = /*[[${orderCount.![name]}]]*/ [];
        var barOrderCounts = /*[[${orderCount.![num]}]]*/ [];

        var barChartCanvas = document.getElementById('barChart1');
        var barChartCtx = barChartCanvas.getContext('2d');

        new Chart(barChartCtx, {
            type: 'bar',
            data: {
                labels: barOrderNames,
                datasets: [{
                    label: '订单数量',
                    data: barOrderCounts,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        max: Math.max(...barOrderCounts) + 1
                    }
                }
            }
        });

    		//七日盈利折线图
    		var lineMoneyNames = /*[[${sumMoney.![name]}]]*/ [];
    		var lineMoneyCounts = /*[[${sumMoney.![num]}]]*/ [];
    		var lineChartCanvas = document.getElementById('lineChart');
    		var lineChartCtx = lineChartCanvas.getContext('2d');
    		new Chart(lineChartCtx, {
   		    type: 'line',
        	data: {
            	labels: lineMoneyNames,
            		datasets: [{
                		label: '盈利',
                		data: lineMoneyCounts,
                		backgroundColor: 'rgba(75, 192, 192, 0.5)',
                		borderColor: 'rgba(75, 192, 192, 1)',
                		borderWidth: 1,
                		fill: false
            		}]
        	},
        	options: {
            	responsive: true,
            	maintainAspectRatio: false,
            	scales: {
                	y: {
                    	beginAtZero: true,
                    	max: Math.max(...lineMoneyCounts) + 5
                	}
            	}
        	}
    	});


        //饼图
        var pieRoomData = [
            /*[# th:each="room : ${roomScale}"]*/
            {
                name: /*[[${room.name}]]*/ '',
                scale: /*[[${room.scale}]]*/ 0,
                num: /*[[${room.num}]]*/
            },
            /*[/]*/
        ];

        var pieChartCanvas = document.getElementById('pieChart');
        var pieChartCtx = pieChartCanvas.getContext('2d');
        
        new Chart(pieChartCtx, {
            type: 'pie',
            data: {
                labels: pieRoomData.map(function(room) { return room.name; }),
                datasets: [{
                    data: pieRoomData.map(function(room) { return room.scale; }),
                    backgroundColor: ['rgba(255, 99, 132, 0.8)', 'rgba(54, 162, 235, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                    borderColor: '#fff',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                }
            }
        });
    </script>
</body>
</html>