<!DOCTYPE html> 
<html lang="en" xmlns:th="https://www.thymeleaf.org"> 
<head> 
    <meta charset="UTF-8"> 
    <title>show</title> 
    <script type="text/javascript" src="${pageContext.request.contextPath }/js/echarts.min.js"></script>
	<script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
 	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 	<link rel="stylesheet" type="text/css" href="css/order.css">
 	<style>
        #chartsContainer {
            display: flex;
            height: 40vh;
            margin-top: 80px;
        }

        .chartContainer {
            width: 30%;
            padding: 30px;
        }

        .chartCanvas {
            width: 30%;
            height: 30%;
        }
    </style>
</head> 
<body>
    <div class="main-title">
		<h1 style="display: inline-block; margin-right: auto;">酒店预订系统</h1>
		<div style="display: inline-block; float: right;">
 			 <div style="display: inline-block; vertical-align: middle; text-align: right;">
 				<img th:src="${session.User.img}" style="max-width: 100%; max-height: 100%;width:90px; height:80px;">
 			</div>
 			<div  style="display: inline-block; vertical-align: middle; margin-left: 10px;">
  				<a  style="color: rgb(192, 192, 192);">欢迎您：</a><br>
 				<a  style="color: rgb(192, 192, 192);"th:text="${session.User.account}"></a>
 			</div>
		</div>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/show">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/main">
                <i class="el-icon-user"></i>
                <span>房间信息</span>
            </a>
        </li>
        <li>
           <a href="/manageOrder">
                <i class="el-icon-s-management"></i>
                <span>查看订单</span>
            </a>   
        </li>
        <li>
            <a href="/recover">
                <i class="el-icon-message"></i>
                <span>回收站</span>
            </a>
        </li>
        <li>
        	<a href="/userInfoShow">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>个人信息</span>
            </span>
            </a>
        </li>
        <li>
        	<a href="/">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>登出</span>
            </span>
        	</a>
        </li>
    </ul>
</div>
    <div id="chartsContainer">
        <div class="chartContainer">
            <h6>高评分房间</h6>
            <canvas id="barChart" class="chartCanvas"></canvas>
        </div>
   		
        <div class="chartContainer">
            <h6>房间类型趋势</h6>
            <canvas id="pieChart" class="chartCanvas"></canvas>
        </div>
        
         <div class="chartContainer">
            <h6>最热门的房间</h6>
            <canvas id="roseChart" class="chartCanvas"></canvas>
        </div>
    </div>

    <script th:inline="javascript">
		//高评分房间柱状图
        var barRoomNames = /*[[${heightRoom.![name]}]]*/ [];
        var barRoomCounts = /*[[${heightRoom.![scale]}]]*/ [];

        var barChartCanvas = document.getElementById('barChart');
        var barChartCtx = barChartCanvas.getContext('2d');

        new Chart(barChartCtx, {
            type: 'bar',
            data: {
                labels: barRoomNames,
                datasets: [{
                    label: '评分',
                    data: barRoomCounts,
                    backgroundColor: 'rgba(122,222, 120, 0.3)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        max: Math.max(...barRoomCounts) + 0.5
                    }
                }
            }
        });
		


        //饼图
        var pieRoomData = [
            /*[# th:each="room : ${roomScale}"]*/
            {
                name: /*[[${room.name}]]*/ '',
                scale: /*[[${room.scale}]]*/ 0,
                num: /*[[${room.num}]]*/
            },
            /*[/]*/
        ];

        var pieChartCanvas = document.getElementById('pieChart');
        var pieChartCtx = pieChartCanvas.getContext('2d');
        
        new Chart(pieChartCtx, {
            type: 'pie',
            data: {
                labels: pieRoomData.map(function(room) { return room.name; }),
                datasets: [{
                    data: pieRoomData.map(function(room) { return room.scale; }),
                    backgroundColor: [ 'rgba(225, 125, 86, 1)','rgba(255, 99, 132, 0.8)','rgba(212, 29, 132, 0.8)','rgba(125, 199, 102, 0.8)', 'rgba(255, 206, 86, 0.8)', 'rgba(75, 192, 192, 0.8)'],
                    borderColor: '#fff',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom'
                }
            }
        });
        
         //最热门的房间等弧度玫瑰图
    var roseRoomNames = /*[[${topThree.![name]}]]*/ [];
    var roseRoomCounts = /*[[${topThree.![num]}]]*/ [];

    var roseChartCanvas = document.getElementById('roseChart');
    var roseChartCtx = roseChartCanvas.getContext('2d');

    new Chart(roseChartCtx, {
        type: 'polarArea',
        data: {
            labels: roseRoomNames,
            datasets: [{
                label: '房间数量',
                data: roseRoomCounts,
                backgroundColor: [
                    'rgba(215, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(25, 205, 86, 0.5)',
                    'rgba(125, 25, 86, 1)',
                    'rgba(225, 125, 86, 1)'
                ],
                borderColor: [
                    'rgba(215, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(25, 205, 86, 1)',
                    'rgba(125, 25, 86, 1)',
                     'rgba(225, 125, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });
    </script>
</body>
</html>