<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>User Info Management</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
</head>

<body>

<div class="container">
  <div class="login-wrapper">
    <h2>用户信息</h2>
    <form th:action="@{/userInfoMag}" method="post" th:object="${User}" enctype="multipart/form-data">
      <div class="form-wrapper">
         <label for="orderId">用户名:</label><input contenteditable="true" type="text" th:field="*{account}" placeholder="账号名" class="input-item"/>
         <label for="orderId">年龄:</label><input contenteditable="true" type="text" th:field="*{age}" placeholder="年龄" class="input-item"/>
         <label for="orderId">姓名:</label><input contenteditable="true" type="text" th:field="*{name}" placeholder="姓名" class="input-item"/>
         <label for="orderId">密码:</label><input contenteditable="true" type="text" th:field="*{password}" placeholder="密码" class="input-item"/>
         <label for="orderId">头像:</label><img th:src="*{img}" style="width:60px; height:60px;"/><input  type="file" name="file"  class="input-item"/>
       	 
      </div>
      <div>
		<input type = "reset" value = "重置" class="edit-btn"/>
		<a th:href="@{/userInfoShow}"><button class="edit-btn">取消</button></a>
		<button type = "submit" th:text="确认修改" class="edit-btn2" >确认修改</button>
	  </div>
  </form>
  </div>
  
</div>
</body>
</html>

