<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfoShow</title>
     <link rel="stylesheet" type="text/css" href="css/order.css">
     <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" type="text/css" href="css/managerOrder.css">
	<link rel = "stylesheet" type="text/css"  th:href="@{/css/logininfo.css}" />
</head>
<body>
<div class="main-title">
        <h1>酒店预订系统</h1>
    </div>
<div class="tab-bar">
<ul class="menu">
        <li>
            <a href="/show">
                <i class="el-icon-house"></i>
                <span>网站概览</span>
            </a>
        </li>
        <li>
            <a href="/main">
                <i class="el-icon-user"></i>
                <span>房间信息</span>
            </a>
        </li>
        <li>
           <a href="/manageOrder">
                <i class="el-icon-s-management"></i>
                <span>查看订单</span>
            </a>   
        </li>
        <li>
            <a href="/recover">
                <i class="el-icon-message"></i>
                <span>回收站</span>
            </a>
        </li>
        <li>
        	<a href="/userInfoShow">
            <span>
                <i class="el-icon-s-tools"></i>
                <span>个人信息</span>
            </span>
            </a>
        </li>
    </ul>
</div>
 <div class="container">
    <div class="table-container">
    	
    		<table>
    		 <form th:action="@{/userMag}" method="post" th:object="${User}" >
            	 <div class="form-wrapper">
            	 	<label for="orderId">头像:</label><span><img th:src="*{img}" style="width:60px; height:60px;" class="input-item"/></span>
			         <label for="orderId">用户名:</label><span type="text" th:text="*{account}"  class="input-item"></span>
			         <label for="orderId">年龄:</label><span  type="text" th:text="*{age}"  class="input-item"></span>
			         <label for="orderId">姓名:</label><span  type="text" th:text="*{name}"  class="input-item"></span>
			         <label for="orderId">密码:</label><span  type="text" th:text="*{password}"  class="input-item"></span>
			        
			        
			     </div>
			     <div>
					<a th:href="@{/userMag}"><button class="edit-btn">修改</button></a>
				 </div>
				 </form>
       		</table>
    	
    </div>		
</div>


</body>
</html>