<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userInfoShow</title>
</head>
<body>
	<form th:object="${User}" enctype="multipart/form-data"> 
       <table>
    	<tr>
    		<td><img th:src="*{img}" style="width:100px; height: 100px;"/></td>
    		<td >账号名</td>
    		<td><input contenteditable="true" type="text" th:field="*{account}"></td>
   			<td >年龄</td>
   			<td><input contenteditable="true" type="text" th:field="*{age}"></td>
    	</tr>
    	<tr>
			<td >姓名</td>
			<td><input contenteditable="true" type="text" th:field="*{name}"></td>
    	</tr>
		<tr>
			<td><a th:href="@{/userMag}"th:onclick="alertInfo()"  th:text="修改" /></a></td>
		    <td>取消</td>
		</tr>
	  </table>	
	</form>
</body>
</html>