<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ManageOrder</title>
</head>
<body>
	<form th:action="@{/findingOrder}" method="post" th:object="${AllOrder}"> 
		<h2>订单检索</h2>
		订单号：<input  type="text" th:field="*{id}" placeholder="请输入订单号" ><br> 
		房间类型：<select th:field="*{types}">
            <option value="标间">标间</option>
            <option value="双人房">双人房</option>
            <option value="总统套房">总统套房</option>
        </select>
		<input  type = "submit" name="Submit" value = "查询"  />
		<input  type = "reset"  name="Reset"  value = "重置" />
	</form>
        <table> 
			<thead >
				<th><div style="text-align:center;">订单号</div></th>
				<th><div style="text-align:center;">房间类型</div></th>
				<th><div style="text-align:center;">价格</div></th>
				<th><div style="text-align:center;">联系电话</div></th>
			</thead>
				<tr th:each="order:${orderList}">
					<!-- 循环-->       
					<td><a th:text="${order.id}" ></a></td>    
	    			<td><a th:text="${order.types}"></a></td>
	    			<td><a th:text="${order.money}"></a></td>
	   				<td><a th:text="${order.phone}"></a>
	   				<a  th:href="@{deleteOrder(id=${order.id},totalcount=${totalcount})}"th:onclick="alertInfo()">删除订单</a></td>    
				</tr> 
		<tr>
		<td >
			<li><a>共<span th:text="${totalcount}"></span>条记录</a></li>
			<li><a>共<span th:text="${totalpage}"></span>页</a></li>
			<li><a>第<span th:text="${pageCur}"></span>页</a></li>
			<li><a th:href="@{manageOrder(totalcount=${totalcount},pageCur=${pageCur}-1)}" th:if="${pageCur!=1}">上一页</a></li>
			<li><a th:href="@{manageOrder(totalcount=${totalcount},pageCur=${pageCur}+1)}" th:if="${pageCur<totalpage}">下一页</a></li>
		</td>
		</tr>
        </table>

</body>
</html>